<div class="container">
    <div>
        <plotly data="chart.data" layout="chart.layout" options="'{}'" />
    </div>
    <div>
        <p><b>First day:</b> {{chart.firstDay}}    <b>Last day:</b> {{chart.lastDay}}</p>
    </div>
    <div>
        <form class="form-inline">
            <div class="form-group">
                <button class="btn btn-primary" ng-click="forward(chart.index-selectedStep)">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </button>
                <button class="btn btn-primary" ng-click="forward(chart.index+selectedStep)">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </button>
                <label>Step (in days):</label>
                <select class="form-control" ng-selected="selectedStep" ng-model="selectedStep" ng-options="step for step in selectableDays">
                </select>
            <div>
        </form> 
    </div>
</div>