<div class="container">
    <div>
        <plotly data="chart.data" layout="chart.layout" options="'{}'" />
    </div>
    <div>
        <p><b>First day:</b> {{chart.firstDay}}    <b>Last day:</b> {{chart.lastDay}}</p>
    </div>
    <div>
        <form class="form-inline">
            <div class="form-group">
                <button class="btn btn-primary" ng-click="forward(chart.index-7)">
                    <span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
                </button>
                <button class="btn btn-primary" ng-click="forward(chart.index+7)">
                    <span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span>
                </button>
                <label>Step (in days): 7</label>

            <div>
        </form> 
    </div>
</div>